<app-imagen-view *ngIf="close()" (closeData)="closeModal($event)" [getdata]="imagen()"></app-imagen-view>
<app-loading *ngIf="load()"></app-loading>
<div class="container-cap">
  <div class="camera-container">
    <table>
      <tr>
        <td>
          <video #videoElement autoplay playsinline class="fvideo"></video>
        </td>
        <td>
          <div *ngIf="captured && activeCam()" class="fimagen" >
            <img [src]="captured" style="width:100%;height: 100%; border:2px solid #8647AB" />
          </div>
        </td>
      </tr>
    </table>

    <button *ngIf="activeCam()" (click)="captured = captureImage()" class="btn-primary">Capturar</button>


    <button (click)="startCamera()" class="btn-primary">Activar Cámara</button>
    <button (click)="stopCamera()" class="btn-primary" *ngIf="activeCam()">Detener Cámara</button>

    @if (captured) {
    <button (click)="sendImage()" class="btn-primary" *ngIf="activeCam()">Enviar Imagen</button>
    }


    <button (click)="getImagesTable()" class="btn-primary">Listar Fotos</button>
    @if(listImages.length>0){
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Fecha Creacion</th>
        <th>Imagen</th>
        <th>Descripcion</th>
      </thead>
      <tbody>

        @for (item of listImages; track $index) {
        <tr>
          <td>{{item.id}}</td>
          <td>{{ item.created_at | date:'dd/MM/yyyy hh:mm a' }}</td>
          <td><img class="thumb" [src]="item.imagen" width="45" height="45" (click)="showImages(item)" /></td>
          <td>{{item.descroption}}</td>
        </tr>
        }

      </tbody>
    </table>
    }
   <button *ngIf="listImages.length>0" (click)="exportToExcel()" class="btn-primary" style="margin-bottom: 100px;">Exportar a Excel</button>
  </div>

</div>
