

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    color: var(--gray-700);
    background-color: var(--gray-50);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Navigation */
.navbar {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    background-color: dodgerblue;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    z-index: 50;
    box-shadow: 0 0 12px 1px lightgray;
    text-align: center;
    color:white !important;
}

.navbar-content {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center ;
    gap: 2rem !important;
    padding: 20px;
    font-size: 20px;
}
.navbar-content img {
    height: 24px;
    object-fit: cover;
    margin-right: 5px;
}

.contain-camera{
  margin-left: 10px;
}

.logo {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--gray-900);
}

.nav-links {
    display: none;
}

.nav-links a {
    color: var(--gray-600);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: var(--gray-900);
}

.menu-btn {
    display: block;
    padding: 0.5rem;
    background: none;
    border: none;
    color: var(--gray-600);
    cursor: pointer;
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
        gap: 2rem;
    }

    .menu-btn {
        display: none;
    }
}
