.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: dodgerblue;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 22px 5px lightgray;
}

.nav-content {
  display: flex;
  align-items: center;   /* CENTRA vertical */
  gap: 10px;             /* separación entre icono y texto */
}

.icon-user {
  width: 40px;
  height: 40px;
  display: block;        /* NECESARIO → quita la baseline */
}

.nav-text {
  line-height: 1;        /* evita que el texto empuje hacia abajo */
  font-weight: lighter;
  font-size: 20px;
}
