.nav{
  position: absolute;
  top:0%;
  left: 0%;
  width:100%;
  height: 80px;
  color: white;
  background-color: dodgerblue;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
  box-shadow: 0 0 22px 5px lightgray;
}

