




fieldset{
  position: relative;
  margin-top: 20%;
  margin-bottom: 100px;
    border: 4px solid transparent;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 50px;
    box-shadow: 15px 3px 20px #0004,
                -15px 0px 30px #0002;
    position: relative;
    transition: border-color 0.9 ease;
    height: auto;
}

fieldset:focus-within{
    border-color:dodgerblue;
}
input{
    margin: 10px;
    border-radius: 50px;
    padding: 15px;
    width: 250px;
    border:none;
    background-color:#ecebeb;
}


label{
    color:#545454;

}

.enviar{
    font-size: 20px;
    color: dodgerblue;
    margin-left: 25px;
    margin-top: 90px;
    transition: .3s;
    font-weight: bold;
    border:1px solid gray;
}
.icono_animate{
    position: absolute;
    bottom: 0;
    right: 50px;

}

.icono_animate img{
    width: 60px;
}

.btn-enviar{
    font-size: 16px;
    color:white;
    border: 3px solid;
    margin-top: 20px;
    transition: .3s;
    font-weight: bold;
    background-color:dodgerblue;
    width: 100%;
    border-radius: 50px;
    height: 60px;
}
