/* You can add global styles to this file, and also import other style files */


@import 'ngx-toastr/toastr';

@media (max-width: 1000px) {
  body {
    zoom: 60%;
    transform-origin: top center;
  }
  video{
    width: 300px !important;
    height: 200px !important;
  }
  .fimagen{
     width: 300px !important;
    height: 200px !important;
  }

}


input,
select,
textarea {
  font-size: 16px !important;
}
